<ion-list>
  <ion-list-header>Configurações</ion-list-header>
  <ion-item-divider color="light">
    <ion-label>Jogar com um amigo {{ multiplayerPop }}</ion-label>
    <ion-toggle checked="false" [(ngModel)]="multiplayerPop"></ion-toggle>
  </ion-item-divider>
  <ion-item>
    <ion-label floating>Jogador 1 {{ playerPop1 }}</ion-label>
    <ion-input text-uppercase type="text" [(ngModel)]="playerPop1"></ion-input>
  </ion-item>  
  <ion-item *ngIf="multiplayerPop">
    <ion-label floating>Jogador 2 {{ playerPop2 }}</ion-label>
    <ion-input text-uppercase type="text" [(ngModel)]="playerPop2"></ion-input>
  </ion-item>
</ion-list>
<button ion-button full outline icon-only color="dark" class="save" (click)="saveSettings()">
  <ion-icon name="share-alt"></ion-icon>
</button>