popover {
    .save {
        background-color: $background_color_2;
        color: $color_1;
        border: 0px;
        font-family: $font_family_1;
        font-size: 1.4em;
        font-weight: bold;
        margin: 0px;
        padding: 15px;
        width: 100%;
        &:hover {
            background-color: $background_color_3;
            cursor: pointer;
        }
    }
}
