<ion-header>
  <ion-navbar>
    <ion-title>Jogo</ion-title>
    <ion-buttons end>
    <button ion-button icon-only (click)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="gameStatus" >
      {{gameStatusMessage}}
  </div>
  <ion-grid class="tabuleiro">
    <ion-row *ngFor="let row of [0,1,2]">
      <ion-col col-4 class="quadrado" *ngFor="let col of [0,1,2]" (click)="handleMove(col+row*3)">
            {{squares[col+row*3]}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <button class="restart" (click)="restartGame()">Novo Jogo</button>
</ion-content>
